{% extends 'public/template/public_template.html' %} 
{% load static %} 
{% block title %} Реєстрація {% endblock title %} 
{% block main %}
</div>
<div
  class="container-fluid page-header mb-5 p-0"
  style="background-image: url(img/carousel-1.jpg)"
>
  <div class="container-fluid page-header-inner py-5">
    <div class="container text-center pb-5">
      <h1 class="display-3 text-white mb-3 animated slideInDown">
        Реєстрація як МАЙСТЕР
      </h1>
    </div>
  </div>
</div>

<form action="register_master" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
      <div class="bg-white shadow" style="padding: 35px">
        <div class="row g-2">
          <div class="col-md-10">
            <div class="row g-2">
              <div class="col-md-3">
                <div class="date" id="date1" data-target-input="nearest">
                  <input
                    type="text"
                    class="form-control datetimepicker-input"
                    placeholder="Повне ім'я"
                    name="username"
                    id="username"
                    required
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="date" id="date1" data-target-input="nearest">
                  <input
                    type="text"
                    class="form-control datetimepicker-input"
                    placeholder="Адреса"
                    name="address"
                    id="address"
                    required
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="date" id="date1" data-target-input="nearest">
                  <input
                    type="text"
                    class="form-control datetimepicker-input"
                    placeholder="Номер телефону"
                    name="phone_number"
                    id="phone_number"
                    required
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="date" id="date2" data-target-input="nearest">
                  <input
                    type="email"
                    class="form-control datetimepicker-input"
                    placeholder="Email"
                    name="email"
                    id="email"
                    required
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="date" id="date1" data-target-input="nearest">
                  <input
                    type="password"
                    class="form-control datetimepicker-input"
                    placeholder="Пароль"
                    name="password"
                    id="password"
                    required
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="date" id="date1" data-target-input="nearest">
                  <input
                    type="password"
                    class="form-control datetimepicker-input"
                    placeholder="Підтвердіть Пароль"
                    name="confirm_password"
                    id="confirm_password"
                    required
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="date" id="date1" data-target-input="nearest">
                  <label for="fileInput">Ваше фото:</label>
                  <input
                    type="file"
                    id="fileInput"
                    name="file"
                    onchange="loadNewFile(event)"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary w-100" type="submit">
              Реєстрація
            </button>
          </div>
        </div>
        <hr />
        <p align="center">Маєте акаунт?<br /><a href={% url 'login' %}>Вхід</p>
        <p align="center">
          Зареєструватись як клієнт?<br /><a href={% url
          'register_client'%}>Реєстрація
        </p>
      </div>
    </div>
  </div>
</form>
{% endblock main %}
